@model List<MyEğitimAkademi_Portfolio.Models.Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mesaj Sayfası</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Mesaj Adı</th>
        <th>Mesajı  Gönderen</th>
        <th>Konu</th>
        <th>Açıklama</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.Name</td>
            <td>@item.Mail</td>
            <td>@item.Subject</td>
            <td>@item.Message</td>
            <td>
                <a href="#" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal-@item.ContactID">Sil</a>
            </td>
            <div class="modal fade" id="deleteModal-@item.ContactID" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Kaydı Sil</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Bu kaydı silmek istediğinizden emin misiniz?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
                            <a href="/Contact/DeleteContact/@item.ContactID" class="btn btn-outline-danger">Evet</a>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    }
</table>

